{% set Det = context.DetContext.Det %}
Det_Cfg.h@#@Det_Cfg_h.jinja@#@None
Det_Cfg.c@#@Det_Cfg_c.jinja@#@None
Det_Externals.h@#@Det_Externals_h.jinja@#@None
Det_Externals.c@#@Det_Externals_c.jinja@#@None
Det_Bswmd.arxml@#@Det_Bswmd_arxml.jinja@#@None
